fastapi==0.140.13
langchain_chroma==1.1.0
langchain_core==1.5.2
langchain_huggingface==1.2.2
openai==2.50.0
pydantic==2.13.4
pyTelegramBotAPI==4.36.0
tqdm==4.67.3
underthesea_core==3.3.2
llama-cpp-python==0.3.16
uvicorn==0.22.0
sentence-transformers